<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>::AUTO-LIFE::</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
<!-- fontawesome CSS -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<!-- Custom CSS -->

<link rel="stylesheet" type="text/css" href="css/custom.css" />



	
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->


<!--custom js-->

<!--custom js-->


</head>

<body>



<!-----------------------------------------------------autolife email start---------------------------------------------------------->

<div class="autolife-email-div">

<div class="email-bg">
<div class="banner_one text-center">
<img src="img/email-logo.png">
<h1>Adventure Awaits:<br> Sign Up for AutoLife</h1>
<div class="learn_More"><a href="javascript:void(0);">learn more</a></div>
</div>

<div class="car-section">
<h1>Looking for Your Perfect Car?</h1>
<p>We know how stressful it can be. Especially when there are more options to choose from every day. We’ll help you find the perfect car in a couple of clicks.</p>

<div class="learn_More"><a href="javascript:void(0);">get started</a></div>
</div>


<div class="lease-Section">
<img src="img/em3.jpg">

<div class="right-side-Sec">
<h1>Owning or Leasing? <br>
Get the Cost for Both.
</h1>
<p>You don't have to be a money manager to figure out the cost of owning or leasing a car. We’ll break down the numbers in a simple, graphical way for everyone to understand.</p>
<div class="learn_More"><a href="javascript:void(0);">we've got you covered</a></div>
</div>

</div>


<div class="white-bar_area">
<h1>it's all about you</h1>
<div class="active-area"><a href="javascript:void(0);">keep your autolife active</a></div>

<div class="social-media_">
<ul>
<li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
<li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
<li><a href="javascript:void(0);"><i class=" fa fa-google-plus"></i></a></li>
<li><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
</ul>

<p>&copy; AutoLife 2017/2018, All Rights Reserved. <br>
          You could change your <a href="javascript:void();">subscription settings</a> anytime. </p>

</div>
</div>

</div>

</div>

<!-----------------------------------------------------autolife email end----------------------------------------------------------> 





</body>
</html>
