<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>::AUTO-LIFE::</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
<!-- fontawesome CSS -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<!-- Custom CSS -->

<link rel="stylesheet" type="text/css" href="css/custom.css" />
<link rel="stylesheet" type="text/css" href="css/component.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap-slider.min.css" />
<link rel="stylesheet" type="text/css" href="css/desk.css" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
<script src="js/jquery-min.js"></script>

<!--custom js-->

<!--custom js-->


</head>

<body>



<!-----------------------------------------------------page7 start---------------------------------------------------------->

<div id="page7">
  <div class="desktop_header">
    <section class="container-fluid">
      <div> 
        <!--left-->
        <div class="div-hide-show"> <a href="summary-page.html" a class="logo logo_pulse"><img src="img/web-logo.png"></a>
          <div class="clickhide">
            <div class="head-left">
              <figure>
                <figcaption>join the millions of <br>Canadian drivers like you!</figcaption>
              </figure>
              <div class="register-div">
                <ul>
                  <li><a href="#"><img src="img/ar.png"> Register</a></li>
                  <li><a href="#"><img src="img/key.png">Login</a></li>
                </ul>
              </div>
            </div>
            <!--left--> 
            
            <!--right-->
            <div class="right-link" id="new_head_right">
           <!-- <div id="login_right_panel">
               
              <ul>
                <li><a href="#"><img src="img/profile-pic.png"> Hi, Kerin </a></li>
                <li><span><a href="#"><img src="img/ar.png">Profile </a></span></li>
                <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> How are we doing?</a></li> 
              </ul>
           
                  
                  
                  
              
     
              </div>-->
			  <div id="login_right_panel" >
               
              <ul>
               <li style="visibility:hidden;"><a href="#"><img src="img/profile-pic.png"> Hi, Kerin </a></li>
                <li style="visibility:hidden;"><span><a href="#"><img src="img/ar.png">Profile </a></span></li>
                <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> How are we doing? Tell us</a></li> 
              </ul>
           
                  
                  
                  
              
     
              </div>
                <!--search-->
            <div class="div_search"> <i class="fa fa-search"> <!--<span>Search</span>--></i>
              <div class="search-bar">
                <input type="text" value="">
              </div>
            </div>
            <!--search--> 
            </div>
            <!--right--> 
          </div>
          
        </div>
      </div>
    </section>
  </div>
  <div class="relative">
    <div class="tab-bar" id="tab-hide">
      <div class="container">
        <div class="main" id="three_tab">
          <nav id="cbp-hrmenu" class="cbp-hrmenu">
            <ul>
              <li> <a href="#">marketplace</a>
                <div class="cbp-hrsub">
                  <div class="cbp-hrsub-inner">
                    <div>
                      <div class="cat-tit"> <img src="img/1.jpg">
                        <h1>Travel</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"><img src="img/2.jpg">
                        <h1>Tech</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/3.jpg">
                        <h1>Lorem Ipsum</h1>
                        <a href="#"><img src="img/play2.png" class="icon-play"></a> </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/4.jpg">
                        <h1>Music</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- /cbp-hrsub-inner --> 
                </div>
                <!-- /cbp-hrsub --> 
              </li>
              <li> <a href="#">contests</a>
                <div class="cbp-hrsub">
                  <div class="cbp-hrsub-inner">
                    <div>
                      <div class="cat-tit"> <img src="img/1.jpg">
                        <h1>Travel</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/2.jpg">
                        <h1>Tech</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/3.jpg">
                        <h1>Lorem Ipsum</h1>
                        <a href="#"><img src="img/play2.png" class="icon-play"></a></div>
                      <a href="#"><img src="img/play2.png" class="icon-play"></a>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/4.jpg">
                        <h1>Music</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- /cbp-hrsub-inner --> 
                </div>
                <!-- /cbp-hrsub --> 
              </li>
              <li> <a href="#">My autolife</a>
                <div class="cbp-hrsub">
                  <div class="cbp-hrsub-inner">
                    <div>
                      <div class="cat-tit"> <img src="img/1.jpg">
                        <h1>Travel</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/2.jpg">
                        <h1>Tech</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/3.jpg">
                        <h1>Lorem Ipsum</h1>
                        <a href="#"><img src="img/play2.png" class="icon-play"></a> </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/4.jpg">
                        <h1>Music</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- /cbp-hrsub-inner --> 
                </div>
                <!-- /cbp-hrsub --> 
              </li>
             
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
  <!--summary section-->
  
  <div class="summary_sec" id="no-padding">
  <div class="black_bG-bar">
  <div class="container">
  
  <!--lifestyle section-->
  <div class="carousel-slider-div phone-space" id="custom_slider">
  <h5>let's customize your AutoLife <span>Tell us what you're into. We'll present what matters you the most.</span> </h5>
<div class="lifestyle_bar">
<div class="col-sm-4" id="img_text_no">
	   <figure>
         <img src="img/skat-img.png" alt="Chicago" style="width:100%;">
		<figcaption>Lifestyle</figcaption>
		</figure>
       </div>
       
       <div class="col-sm-8">
   <div class="head_search">  <h6>Article, videos, content partners-all the stuff that keeps us inspired.</h6>
   
   
   </div>
       <div class="checkboxes_area_bar">
         <form id="formID" action="">
       <div class="col-sm-6">
       
     
                  
                    
                     <input type="checkbox" id="a" name="a" />
            <label for="a"><span></span>Travel</label>
                   
                    <div class="clearfix"></div>
                  
                     <input type="checkbox" id="b" name="b" />
            <label for="b"><span></span>Sports</label>
                   
                    <div class="clearfix"></div>
                 
                     <input type="checkbox" id="c" name="c" />
            <label for="c"><span></span>Road trips</label>
                   <div class="clearfix"></div>
                 
                     <input type="checkbox" id="c_1" name="c" />
            <label for="c_1"><span></span>Music</label>
            
            <div class="clearfix"></div>
                 
                     <input type="checkbox" id="c_2" name="c" />
            <label for="c_2"><span></span>Cooking</label>
                    
                  </div>
                    
                    <div class="col-sm-6">
       
     
                  
                    
                     <input type="checkbox" id="d" name="d" />
            <label for="d"><span></span>Women's Fashion/Style</label>
                   
                    <div class="clearfix"></div>
                  
                     <input type="checkbox" id="e" name="e" />
            <label for="e"><span></span>Men's Fashion/Style</label>
                   
                    <div class="clearfix"></div>
                 
                     <input type="checkbox" id="f" name="f" />
            <label for="f"><span></span>Autonomous Driving</label>
                   <div class="clearfix"></div>
                 
                     <input type="checkbox" id="f_1" name="f" />
            <label for="f_1"><span></span>Ride Sharing</label>
                    
                  </div>
                    </form>
       </div>
       </div>
       
</div>
  </div>
  <!--life style section-->
  </div>
  </div>
  <div class="container">
  
  
  
  
  
  
  
  <!--slider-->
<div class="carousel-slider-div" id="custom_slider">
  
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
      <div class="col-sm-4" id="img_text_no">
	   <figure>
         <img src="img/brand.png" alt="Chicago" style="width:100%;">
		<figcaption>brand</figcaption>
		</figure>
       </div>
       
       <div class="col-sm-8">
   <div class="head_search">  <h6>Select as many as you Like. You can fine tune later.</h6>
   
   <div class="search_BAR">
   <input type="text">
   <img src="img/search.png">
   </div>
   </div>
       <div class="checkboxes_area_bar">
         <form id="formID_1" action="">
       
           <div class="col-sm-12">
           <div class="logo_DIV_BAR">
           <ul>
           <li><img src="img/lg1.png"><span>Acura</span></li>
             <li><img src="img/lg2.png"><span>Alfa Romeo</span></li>
               <li><img src="img/lg3.png"><span>Aston Martin</span></li>
                 <li><img src="img/lg4.png"><span>Audi</span></li>
                   <li><img src="img/lg5.png"><span>Bentley</span></li>
           </ul>
           </div>
           </div>
                    
            <div class="col-sm-12">
            <div class="logo_DIV_BAR">
           <ul>
           <li><img src="img/lg6.png"><span>BMW</span></li>
             <li><img src="img/lg7.png"><span>Buick</span></li>
               <li><img src="img/lg8.png"><span>Cadilac</span></li>
                 <li><img src="img/lg9.png"><span>Chevrolet</span></li>
                   <li><img src="img/lg10.png"><span>Crysler</span></li>
           </ul>
           </div>
            </div>
            
             <div class="col-sm-12">
             <div class="logo_DIV_BAR">
           <ul>
           <li><img src="img/lg11.png"><span>Citoren</span></li>
             <li><img src="img/lg12.png"><span>Ferrari</span></li>
               <li><img src="img/lg13.png"><span>Fiat</span></li>
                 <li><img src="img/lg14.png"><span>Ford</span></li>
                   <li><img src="img/lg15.png"><span>Geely</span></li>
           </ul>
           </div>
             </div>         
                    </form>
       </div>
       </div>
       
      </div>

      <div class="item">
      <div class="col-sm-4" id="img_text_no">
	   <figure>
         <img src="img/brand.png" alt="Chicago" style="width:100%;">
		<figcaption>brand</figcaption>
		</figure>
       </div>
       
       <div class="col-sm-8">
       <div class="head_search">  <h6>Select as many as you Like. You can fine tune later.</h6>
   
   <div class="search_BAR">
   <input type="text">
   <img src="img/search.png">
   </div>
   </div>
       <div class="checkboxes_area_bar">
         <form id="formID" action="">
       <div class="col-sm-4">
       
     
                  
                    
                     <input type="checkbox" id="1" name="a" />
            <label for="1"><span></span>Acura</label>
                   
                    <div class="clearfix"></div>
                  
                     <input type="checkbox" id="2" name="b" />
            <label for="2"><span></span>Alpha Romeo</label>
                   
                    <div class="clearfix"></div>
                 
                     <input type="checkbox" id="3" name="c" />
            <label for="3"><span></span>Aston Martin</label>
                   <div class="clearfix"></div>
                 
                     <input type="checkbox" id="4" name="c" />
            <label for="4"><span></span>Audi</label>
            
            <div class="clearfix"></div>
                 
                     <input type="checkbox" id="5" name="c" />
            <label for="5"><span></span>BMW</label>
                    
                    
                    <div class="clearfix"></div>
                 
                     <input type="checkbox" id="6" name="c" />
            <label for="6"><span></span>Bentley</label>
                    
                  </div>
                    
                    <div class="col-sm-4">
       
     
                  
                    
                     <input type="checkbox" id="7" name="d" />
            <label for="7"><span></span>Bugati</label>
                   
                    <div class="clearfix"></div>
                  
                     <input type="checkbox" id="8" name="e" />
            <label for="8"><span></span>Buick</label>
                   
                    <div class="clearfix"></div>
                 
                     <input type="checkbox" id="9" name="f" />
            <label for="9"><span></span>Cadillac</label>
                   <div class="clearfix"></div>
                 
                     <input type="checkbox" id="10" name="f" />
            <label for="10"><span></span>Chevrolet</label>
            
            <div class="clearfix"></div>
                 
                     <input type="checkbox" id="11" name="f" />
            <label for="11"><span></span>Chrylser</label>
                    
                    
                    <div class="clearfix"></div>
                 
                     <input type="checkbox" id="12" name="f" />
            <label for="12"><span></span>Citroen</label>
                  </div>
                  
                  
                  <div class="col-sm-4">
       
     
                  
                    
                     <input type="checkbox" id="13" name="d" />
            <label for="13"><span></span>Dodge</label>
                   
                    <div class="clearfix"></div>
                  
                     <input type="checkbox" id="14" name="e" />
            <label for="14"><span></span>Ferrari</label>
                   
                    <div class="clearfix"></div>
                 
                     <input type="checkbox" id="15" name="f" />
            <label for="15"><span></span>Fiat</label>
                   <div class="clearfix"></div>
                 
                     <input type="checkbox" id="16" name="f" />
            <label for="16"><span></span>Ford</label>
            
            <div class="clearfix"></div>
                 
                     <input type="checkbox" id="17" name="f" />
            <label for="17"><span></span>Geely</label>
            
            <div class="clearfix"></div>
                 
                     <input type="checkbox" id="18" name="f" />
            <label for="18"><span></span>general Motors</label>
                    
                  </div>
                    </form>
       </div>
       </div>
       
      </div>
    
      
    </div>

    <!-- Left and right controls -->
    <div class="chec_DIV_BAR">
    
    
    
    
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span><img src="img/arrow-left.png" class="div_arrow_two"></span>
      <span class="sr-only">Previous</span>
    </a>
    
    
    <div class="doted-arrow">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
</div>
    
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span><img src="img/arrow-right.png" class="div_arrow"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
  </div>
  </div>
<!--slider-->


<!--offers-->
<div class="lifestyle_bar">
<div class="col-sm-4" id="img_text_no">
	   <figure>
         <img src="img/offer.png" alt="Chicago" style="width:100%;">
		<figcaption>offers</figcaption>
		</figure>
       </div>
       
       <div class="col-sm-8">
   <div class="head_search">  <h6>We get exclusive deals from our partners. Tell us which ones you want.</h6>
   
   
   </div>
       <div class="checkboxes_area_bar">
         <form id="formID" action="">
       <div class="col-sm-12">
       
     
                  
                    
                     <input type="checkbox" id="ab" name="a" />
            <label for="ab"><span></span>From Automotive Dealers</label>
                   
                    <div class="clearfix"></div>
                  
                     <input type="checkbox" id="ac" name="b" />
            <label for="ac"><span></span>Automotive Insurance </label>
                   
                    <div class="clearfix"></div>
                 
                     <input type="checkbox" id="ad" name="c" />
            <label for="ad"><span></span>Travel Insurance</label>
                   <div class="clearfix"></div>
                 
                     
                    
                  </div>
                    
                    
                    </form>
       </div>
       </div>
       
</div>
<!--offers-->

<div class="clearfix"></div>
<h1 class="bottom-text">You can always change these settings in <br> My Profile if you change your mind.</h1>

  </div>

  </div>
  
  <!--summary section-->
  <footer class="footer" id="foo_ter">
    <div class="container">
      <div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="#"> ipsum sit dolor amit </a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="#"> ipsum sit dolor amit </a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="#"> ipsum sit dolor amit </a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="#"> ipsum sit dolor amit </a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="right-column">
          <h1>Get a monthly news digest</h1>
          <div class="div_combine">
            <div class="text-fild">
              <input placeholder="Enter your email" type="text">
            </div>
            <input value="sign up" type="submit">
          </div>
          
          <!--social media-->
          <div class="social-sec_div">
            <h1>Stay Connected to Autolife</h1>
            <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"> <i class="fa fa-instagram"></i></a> <a href="#"> <i class="fa fa-youtube"></i></a> </div>
        </div>
      </div>
    </div>
    <div class="bottm-bar" >
      <section class="container-fluid">
        <div> <em>&copy; AutoLife2017/2018, All Rights Reserved</em>
          <ul>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Disclaimer</a></li>
          </ul>
        </div>
      </section>
    </div>
  </footer>
</div>

<!-----------------------------------------------------page7 end----------------------------------------------------------> 





<script src="js/cbpHorizontalMenu.min.js"></script> 

<script>
			$(function() {
				cbpHorizontalMenu.init();
			});
		</script>
        <script>
$( ".fa-search" ).click(function() {
  $( ".search-bar" ).toggleClass( "search-act" );
});
</script>
<script src="js/bootstrap.min.js"></script> 
<script src="js/bootstrap-slider.js"></script> 
</body>
</html>

