<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>::AUTO-LIFE::</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
<!-- fontawesome CSS -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<!-- Custom CSS -->

<link rel="stylesheet" type="text/css" href="css/custom.css" />
<link rel="stylesheet" type="text/css" href="css/component.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap-slider.min.css" />
<link rel="stylesheet" type="text/css" href="css/desk.css" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
<script src="js/jquery-min.js"></script>

<!--custom js-->

<!--custom js-->


</head>

<body>



<!-----------------------------------------------------page7 start---------------------------------------------------------->

<div id="page7">
  <div class="desktop_header">
    <section class="container-fluid">
      <div> 
        <!--left-->
        <div class="div-hide-show"> <a href="index.html" a class="logo"><img src="img/web-logo.png"></a>
          <div class="clickhide">
            <div class="head-left">
              <figure>
                <figcaption>join the millions of <br>Canadian drivers like you!</figcaption>
              </figure>
              <div class="register-div">
                <ul>
                  <li><a href="#"><img src="img/ar.png"> Register</a></li>
                  <li><a href="#"><img src="img/key.png">Login</a></li>
                </ul>
              </div>
            </div>
            <!--left--> 
            
            <!--right-->
            <div class="right-link" id="new_head_right">
           <!-- <div id="login_right_panel">
               
              <ul>
                <li><a href="#"><img src="img/profile-pic.png"> Hi, Kerin </a></li>
                <li><span><a href="#"><img src="img/ar.png">Profile </a></span></li>
                <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> How are we doing?</a></li> 
              </ul>
           
                  
                  
                  
              
     
              </div>-->
			  <div id="login_right_panel" >
               
              <ul>
               <li style="visibility:hidden;"><a href="#"><img src="img/profile-pic.png"> Hi, Kerin </a></li>
                <li style="visibility:hidden;"><span><a href="#"><img src="img/ar.png">Profile </a></span></li>
                <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> How are we doing? Tell us</a></li> 
              </ul>
           
                  
                  
                  
              
     
              </div>
                <!--search-->
            <div class="div_search"> <i class="fa fa-search"> <!--<span>Search</span>--></i>
              <div class="search-bar">
                <input type="text" value="">
              </div>
            </div>
            <!--search--> 
            </div>
            <!--right--> 
          </div>
          
        </div>
      </div>
    </section>
  </div>
  <div class="relative">
    <div class="tab-bar" id="tab-hide">
      <div class="container">
        <div class="main" id="three_tab">
          <nav id="cbp-hrmenu" class="cbp-hrmenu">
            <ul>
              <li> <a href="#">marketplace</a>
                <div class="cbp-hrsub">
                  <div class="cbp-hrsub-inner">
                    <div>
                      <div class="cat-tit"> <img src="img/1.jpg">
                        <h1>Travel</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"><img src="img/2.jpg">
                        <h1>Tech</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/3.jpg">
                        <h1>Lorem Ipsum</h1>
                        <a href="#"><img src="img/play2.png" class="icon-play"></a> </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/4.jpg">
                        <h1>Music</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- /cbp-hrsub-inner --> 
                </div>
                <!-- /cbp-hrsub --> 
              </li>
              <li> <a href="#">contests</a>
                <div class="cbp-hrsub">
                  <div class="cbp-hrsub-inner">
                    <div>
                      <div class="cat-tit"> <img src="img/1.jpg">
                        <h1>Travel</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/2.jpg">
                        <h1>Tech</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/3.jpg">
                        <h1>Lorem Ipsum</h1>
                        <a href="#"><img src="img/play2.png" class="icon-play"></a></div>
                      <a href="#"><img src="img/play2.png" class="icon-play"></a>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/4.jpg">
                        <h1>Music</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- /cbp-hrsub-inner --> 
                </div>
                <!-- /cbp-hrsub --> 
              </li>
              <li> <a href="#">My autolife</a>
                <div class="cbp-hrsub">
                  <div class="cbp-hrsub-inner">
                    <div>
                      <div class="cat-tit"> <img src="img/1.jpg">
                        <h1>Travel</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/2.jpg">
                        <h1>Tech</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/3.jpg">
                        <h1>Lorem Ipsum</h1>
                        <a href="#"><img src="img/play2.png" class="icon-play"></a> </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/4.jpg">
                        <h1>Music</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- /cbp-hrsub-inner --> 
                </div>
                <!-- /cbp-hrsub --> 
              </li>
              
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
  <!--hard registration-->
  
   <!--registration section-->
  <div class="hard_register_div">
    <div class="container">
      <div class="row text-center">
        <div id="div_Hide">
          <h1>register for autolife</h1>
          <p>We're so happy you are going to experience AutoLife at the <br>
            Canadian International AutoShow. Join the millions of <br>
            canadian drivetrs just like you to continue the experience.</p>
          <a href="javascript:void(0);" class="facebook-button"><i class="fa fa-facebook"></i></a> 
          
          <!--facebook--> 
          
          <!--g-plus--> 
          <a href="javascript:void(0);" class="facebook-button"><i class="fa fa-google-plus"></i></a> 
          <!--g-plus--> 
          
          <!--email--> 
          <a href="email-register.html" class="facebook-button by-email"><em>Registered by email</em></a> 
          <!--email--> 
          
        </div>
      </div>
    </div>
  </div>
  <!--registration section-->
  
  <!--hard registration-->
  <footer class="footer" id="foo_ter">
    <div class="container">
      <div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="#"> ipsum sit dolor amit </a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="#"> ipsum sit dolor amit </a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="#"> ipsum sit dolor amit </a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="#"> ipsum sit dolor amit </a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="right-column">
          <h1>Get a monthly news digest</h1>
          <div class="div_combine">
            <div class="text-fild">
              <input placeholder="Enter your email" type="text">
            </div>
            <input value="sign up" type="submit">
          </div>
          
          <!--social media-->
          <div class="social-sec_div">
            <h1>Stay Connected to Autolife</h1>
            <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"> <i class="fa fa-instagram"></i></a> <a href="#"> <i class="fa fa-youtube"></i></a> </div>
        </div>
      </div>
    </div>
    <div class="bottm-bar" >
      <section class="container-fluid">
        <div> <em>&copy; AutoLife2017/2018, All Rights Reserved</em>
          <ul>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Disclaimer</a></li>
          </ul>
        </div>
      </section>
    </div>
  </footer>
</div>

<!-----------------------------------------------------page7 end----------------------------------------------------------> 





<script src="js/cbpHorizontalMenu.min.js"></script> 

<script>
			$(function() {
				cbpHorizontalMenu.init();
			});
		</script>
        <script>
$( ".fa-search" ).click(function() {
  $( ".search-bar" ).toggleClass( "search-act" );
});
</script>
<script src="js/bootstrap.min.js"></script> 
<script src="js/bootstrap-slider.js"></script> 
</body>
</html>
