<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>::AUTO-LIFE::</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
<!-- fontawesome CSS -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<!-- Custom CSS -->

<link rel="stylesheet" type="text/css" href="css/custom.css" />
<link rel="stylesheet" type="text/css" href="css/component.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap-slider.min.css" />
<link rel="stylesheet" type="text/css" href="css/desk.css" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
<script src="js/jquery-min.js"></script>

<!--custom js-->

<!--custom js-->


</head>

<body>



<!-----------------------------------------------------page7 start---------------------------------------------------------->

<div id="page7">
  <div class="desktop_header">
    <section class="container-fluid">
      <div> 
        <!--left-->
        <div class="div-hide-show"> <a href="index.html" a class="logo"><img src="img/web-logo.png"></a>
          <div class="clickhide">
            <div class="head-left">
              <figure>
                <figcaption>join the millions of <br>Canadian drivers like you!</figcaption>
              </figure>
              <div class="register-div">
                <ul>
                  <li><a href="#"><img src="img/ar.png"> Register</a></li>
                  <li><a href="#"><img src="img/key.png">Login</a></li>
                </ul>
              </div>
            </div>
            <!--left--> 
            
            <!--right-->
            <div class="right-link" id="new_head_right">
           <!-- <div id="login_right_panel">
               
              <ul>
                <li><a href="#"><img src="img/profile-pic.png"> Hi, Kerin </a></li>
                <li><span><a href="#"><img src="img/ar.png">Profile </a></span></li>
                <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> How are we doing?</a></li> 
              </ul>
           
                  
                  
                  
              
     
              </div>-->
			  <div id="login_right_panel" >
               
              <ul>
               <li style="visibility:hidden;"><a href="#"><img src="img/profile-pic.png"> Hi, Kerin </a></li>
                <li style="visibility:hidden;"><span><a href="#"><img src="img/ar.png">Profile </a></span></li>
                <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> How are we doing?</a></li> 
              </ul>
           
                  
                  
                       

              
              </div>
                <!--search-->
            <div class="div_search"> <i class="fa fa-search"> <!--<span>Search</span>--></i>
              <div class="search-bar">
                <input type="text" value="">
              </div>
            </div>
            <!--search--> 
            </div>
            <!--right--> 
          </div>
          
        </div>
      </div>
    </section>
  </div>
  <div class="relative">
    <div class="tab-bar" id="tab-hide">
      <div class="container">
        <div class="main" id="three_tab">
          <nav id="cbp-hrmenu" class="cbp-hrmenu">
            <ul>
              <li> <a href="#">marketplace</a>
                <div class="cbp-hrsub">
                  <div class="cbp-hrsub-inner">
                    <div>
                      <div class="cat-tit"> <img src="img/1.jpg">
                        <h1>Travel</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"><img src="img/2.jpg">
                        <h1>Tech</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/3.jpg">
                        <h1>Lorem Ipsum</h1>
                        <a href="#"><img src="img/play2.png" class="icon-play"></a> </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/4.jpg">
                        <h1>Music</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- /cbp-hrsub-inner --> 
                </div>
                <!-- /cbp-hrsub --> 
              </li>
              <li> <a href="#">contests</a>
                <div class="cbp-hrsub">
                  <div class="cbp-hrsub-inner">
                    <div>
                      <div class="cat-tit"> <img src="img/1.jpg">
                        <h1>Travel</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/2.jpg">
                        <h1>Tech</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/3.jpg">
                        <h1>Lorem Ipsum</h1>
                        <a href="#"><img src="img/play2.png" class="icon-play"></a></div>
                     <!-- <a href="#"><img src="img/play2.png" class="icon-play"></a>-->
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/4.jpg">
                        <h1>Music</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- /cbp-hrsub-inner --> 
                </div>
                <!-- /cbp-hrsub --> 
              </li>
              <li> <a href="#">My autolife</a>
                <div class="cbp-hrsub">
                  <div class="cbp-hrsub-inner">
                    <div>
                      <div class="cat-tit"> <img src="img/1.jpg">
                        <h1>Travel</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/2.jpg">
                        <h1>Tech</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/3.jpg">
                        <h1>Lorem Ipsum</h1>
                        <a href="#"><img src="img/play2.png" class="icon-play"></a> </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/4.jpg">
                        <h1>Music</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- /cbp-hrsub-inner --> 
                </div>
                <!-- /cbp-hrsub --> 
              </li>
              <!--<li> <a href="#">Lorem Ipsum</a>
                <div class="cbp-hrsub">
                  <div class="cbp-hrsub-inner">
                    <div>
                      <div class="cat-tit"> <img src="img/1.jpg">
                        <h1>Travel</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/2.jpg">
                        <h1>Tech</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/3.jpg">
                        <h1>Lorem Ipsum</h1>
                        <a href="#"><img src="img/play2.png" class="icon-play"></a></div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/4.jpg">
                        <h1>Music</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                  </div>
                   /cbp-hrsub-inner --> 
              <!--  </div>
                <!-- /cbp-hrsub 
              </li>-->
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
  <!--summary section-->
  
  <div class="summary_sec">
  <div class="container-fluid">
  <div class="left-side-fulll-width">
   <!--left side-->
  <div class="left-column" id="height_width_">
  
  <!--1-->
  <div class="si_gnup" id="height_1">
  <p>AutoLife Tool</p>
  <ul>
  <li><a href="javascript:void(0);"><img src="img/like.png"></a></li>
  <li><a href="javascript:void(0);"><img src="img/dislike.png"></a></li>
  </ul>
  
  <div class="clearfix"></div>
  <div class="on-hover text-center">
  <div class="block1">
  <div class="div_transparent">
 <h4>owning or <br> Leasing ? get the <br> cost for both.</h4>
  <h2>A Simple yet poweful tool that <br> breaks down the numbers</h2>
  <div class="btn-signup-button"> <a href="cost-calculator.html">show me the money</a></div>
  </div>
  </div>
  </div>
  </div>
  
  
  
  
  <!--1-->
  
  
  <!--2-->
  <div class="si_gnup for-right" id="height_2">
  <p>How To Buy Your First Car </p>
  <ul>
  <li><a href="javascript:void(0);"><img src="img/like.png"></a></li>
  <li><a href="javascript:void(0);"><img src="img/dislike.png"></a></li>
  </ul>
  
  <div class="block2">
  
  </div>
  
 
  <h4>You don't have bring to your parents or the Hulk to handle your negotitation. We got you covered.</h4>
   <a class="deep-breath" href="javascript:void(0);"> &gt; deep breath,go!</a>
  </div>
  
  
  
  <!--2-->
  
  
  <div class="clearfix"></div>
  
   <!--1-->
   <div class="si_gnup" id="height_3">
  <p>Why Sign Up for AutoLife.</p>
  <ul>
  <li><a href="javascript:void(0);"><img src="img/like.png"></a></li>
  <li><a href="javascript:void(0);"><img src="img/dislike.png"></a></li>
  </ul>
 
 <div class="clearfix"></div>
  <div class="caption-class">Great advice and information <br> you can acutally use. No sales.</div>
  <div class="block3"></div>
  
  <div class="btn-signup-button"> <a href="signup.html"> sign up</a></div>
  <h3><a href="javascript:void(0);">&gt; Sign In </a></h3>
  </div>
   
   
   
  
  
  <!--1-->
  
  
  <!--2-->
  <div class="si_gnup for-right" id="height_4">
  <p>Looking For Your <br> Perfect Car?</p>
  <ul>
  <li><a href="javascript:void(0);"><img src="img/like.png"></a></li>
  <li><a href="javascript:void(0);"><img src="img/dislike.png"></a></li>
  </ul>
  
  <div class="clearfix"></div>
  <div class="on-hover text-center">
   <div class="block4">
   <div class="div_transparent">
  <img src="img/hover-icon.png" class="icon">
  <h2>We''ll Help you find it with <br> a couple of clicks </h2>
  <!--<a class="get-started" href="javascript:void(0);">get started</a>-->
     <a class="deep-breath" href="customize-my-auto-life.html"> &gt; get started</a>
  </div>
   </div>
  
  </div>
  </div>
  <!--2-->
  
  
  

  
  
  </div><!--left column-->
 





<!--right column-->
<div class="right-column" id="height_width_">

<div class="background-grey text-center">

<div class="auto-life-signup">
<h6>Sign Up for AutoLife</h6>
<h5>It's place where nothing comes  <br> between you and the open road.</h5>
<div class="all-page-start_up"><a href="javascript:void(0);">start</a></div>

</div>

  <div class="clearfix"></div>
  
 
</div>









</div><!--right column-->

<div class="two-sided-layout">
  <!--slider-->
  <div class="background-grey">
  
  <div class="bottom-slider">
  <em>autolife exclusive!</em>
  <ul>
  <li><a href="javascript:void(0);"><img src="img/like.png"></a></li>
  <li><a href="javascript:void(0);"><img src="img/dislike.png"></a></li>
  </ul>
  <div class="clearfix"></div>
<p>the canadian international <br> autoshow top 10 list <span>Get a sneak peak of this year's most exciting models to hit the floor.</span></p>

<div class="carousel-slider-div">
<a href="#"><img src="img/download-button.png" class="download-button"></a>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
	  <figure>
        <img src="img/slide1.jpg" alt="Los Angeles" style="width:100%;">
		<figcaption>
		<h3>The 2018 Subaru Outback is perfect from the suburb to the cottage.</h3>
		</figcaption>
		</figure>
      </div>

      <div class="item">
	   <figure>
         <img src="img/slide2.jpg" alt="Chicago" style="width:100%;">
		<figcaption>
		<h3>The 2018 Subaru Outback is perfect from the suburb to the cottage.</h3>
		</figcaption>
		</figure>
       
      </div>
    
      <div class="item">
	   <figure>
         <img src="img/slide3.jpg" alt="Chicago" style="width:100%;">
		<figcaption>
		<h3>The 2018 Subaru Outback is perfect from the suburb to the cottage.</h3>
		</figcaption>
		</figure>
       
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span><img src="img/group3.png" class="div_arrow_tw"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span><img src="img/group.png" class="div_arrow"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
 
 </div>
 
  
  
</div>
  
  <!--slider-->
  
  <div class="adver-free">
  
  <div class="background-grey" id="advertise">
<p>Advertisement <a href="#"><i class="fa fa-close"></i></a></p>
<div class="ad-space">Space for AD</div>
 
 
 
  
  
</div>
  <div class="background-grey_1" id="advertise">
   <!--1-->
   <div id="height18">
  <div class="trend-setup">
  <p>Tech Trends </p>
  <ul>
  <li><a href="javascript:void(0);"><img src="img/like.png"></a></li>
  <li><a href="javascript:void(0);"><img src="img/dislike.png"></a></li>
  </ul>
  
  <div class="block5"></div>
  
  <div class="clearfix"></div>
  <h4>You don't have bring to your parents or the Hulk to handle your negotitation. We got you covered.</h4>
  <h5><a href="javascript:void(0);">&gt; Read </a></h5>
  </div>
  </div>
  <!--1-->
</div>

<!--2-->
<div class="background-grey_1 for-right" id="advertise">
   <div id="height19">
  <div class="trend-setup">
  <p>Quote of the day </p>
  <ul>
  <li><a href="javascript:void(0);"><img src="img/like.png"></a></li>
  <li><a href="javascript:void(0);"><img src="img/dislike.png"></a></li>
  </ul>
  <div class="clearfix"></div>
 <div class="on-hover text-center">
  <div class="quote-bg">
  <div class="div_transparent">
  <img src="img/left-quote.png" class="icon">
  <h2>Never Underestimate <br> therepeutic  powe of driving and listening to really loud music. <span>-Annonymous</span> </h2>
 <img src="img/right-quote.png" class="icon">
  </div>
  </div>
  </div>
  
  
  
  </div>
  </div>
  
  
</div><!--2-->
</div>
</div>

  </div>



  </div>
  </div>
  
  <!--summary section-->
  <footer class="footer" id="foo_ter">
    <div class="container">
      <div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="#"> ipsum sit dolor amit </a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="#"> ipsum sit dolor amit </a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="#"> ipsum sit dolor amit </a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="#"> ipsum sit dolor amit </a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="right-column">
          <h1>Get a monthly news digest</h1>
          <div class="div_combine">
            <div class="text-fild">
              <input placeholder="Enter your email" type="text">
            </div>
            <input value="sign up" type="submit">
          </div>
          
          <!--social media-->
          <div class="social-sec_div">
            <h1>Stay Connected to Autolife</h1>
            <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"> <i class="fa fa-instagram"></i></a> <a href="#"> <i class="fa fa-youtube"></i></a> </div>
        </div>
      </div>
    </div>
    <div class="bottm-bar" >
      <section class="container-fluid">
        <div> <em>&copy; AutoLife2017/2018, All Rights Reserved</em>
          <ul>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Disclaimer</a></li>
          </ul>
        </div>
      </section>
    </div>
  </footer>
</div>

<!-----------------------------------------------------page7 end----------------------------------------------------------> 





<script src="js/cbpHorizontalMenu.min.js"></script> 

<script>
			$(function() {
				cbpHorizontalMenu.init();
			});
		</script>
        <script>
$( ".fa-search" ).click(function() {
  $( ".search-bar" ).toggleClass( "search-act" );
});
</script>
<script src="js/bootstrap.min.js"></script> 
<script src="js/bootstrap-slider.js"></script> 
</body>
</html>
