<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>::AUTO-LIFE::</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
<!-- fontawesome CSS -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<!-- Custom CSS -->

<link rel="stylesheet" type="text/css" href="css/custom.css" />
<link rel="stylesheet" type="text/css" href="css/component.css" />
<link rel="stylesheet" href="css/tinycarousel.css" type="text/css" media="screen"/>
<link rel="stylesheet" type="text/css" href="css/desk.css" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
<script src="js/jquery-min.js"></script>

<!--custom js-->

<!--custom js-->


</head>

<body>



<!-----------------------------------------------------page7 start---------------------------------------------------------->

<div id="page7">
  <div class="desktop_header">
    <section class="container-fluid">
      <div> 
        <!--left-->
        <div class="div-hide-show"> <a href="summary-page.html" a class="logo logo_pulse"><img src="img/web-logo.png"></a>
         <div class="clickhide">
            <div class="head-left">
              <figure>
                <figcaption>join the millions of <br>Canadian drivers like you!</figcaption>
              </figure>
              <div class="register-div">
                <ul>
                  <li><a href="#"><img src="img/ar.png"> Register</a></li>
                  <li><a href="#"><img src="img/key.png">Login</a></li>
                </ul>
              </div>
            </div>
            <!--left--> 
            
            <!--right-->
            <div class="right-link" id="new_head_right">
           <!-- <div id="login_right_panel">
               
              <ul>
                <li><a href="#"><img src="img/profile-pic.png"> Hi, Kerin </a></li>
                <li><span><a href="#"><img src="img/ar.png">Profile </a></span></li>
                <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> How are we doing?</a></li> 
              </ul>
           
                  
                  
                  
              
     
              </div>-->
			  <div id="login_right_panel" >
               
              <ul>
               <li style="visibility:hidden;"><a href="#"><img src="img/profile-pic.png"> Hi, Kerin </a></li>
                <li style="visibility:hidden;"><span><a href="#"><img src="img/ar.png">Profile </a></span></li>
                <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> How are we doing? Tell us</a></li> 
              </ul>
           
                  
                  
                  
              
     
              </div>
                <!--search-->
            <div class="div_search"> <i class="fa fa-search"> <!--<span>Search</span>--></i>
              <div class="search-bar">
                <input type="text" value="">
              </div>
            </div>
            <!--search--> 
            </div>
            <!--right--> 
          </div>
          
        </div>
      </div>
    </section>
  </div>
  <div class="relative">
    <div class="tab-bar" id="tab-hide">
      <div class="container">
        <div class="main" id="three_tab">
          <nav id="cbp-hrmenu" class="cbp-hrmenu">
            <ul>
              <li> <a href="#">marketplace</a>
                <div class="cbp-hrsub">
                  <div class="cbp-hrsub-inner">
                    <div>
                      <div class="cat-tit"> <img src="img/1.jpg">
                        <h1>Travel</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"><img src="img/2.jpg">
                        <h1>Tech</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/3.jpg">
                        <h1>Lorem Ipsum</h1>
                        <a href="#"><img src="img/play2.png" class="icon-play"></a> </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/4.jpg">
                        <h1>Music</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- /cbp-hrsub-inner --> 
                </div>
                <!-- /cbp-hrsub --> 
              </li>
              <li> <a href="#">contests</a>
                <div class="cbp-hrsub">
                  <div class="cbp-hrsub-inner">
                    <div>
                      <div class="cat-tit"> <img src="img/1.jpg">
                        <h1>Travel</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/2.jpg">
                        <h1>Tech</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/3.jpg">
                        <h1>Lorem Ipsum</h1>
                        <a href="#"><img src="img/play2.png" class="icon-play"></a></div>
                      <a href="#"><img src="img/play2.png" class="icon-play"></a>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/4.jpg">
                        <h1>Music</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- /cbp-hrsub-inner --> 
                </div>
                <!-- /cbp-hrsub --> 
              </li>
              <li> <a href="#">My autolife</a>
                <div class="cbp-hrsub">
                  <div class="cbp-hrsub-inner">
                    <div>
                      <div class="cat-tit"> <img src="img/1.jpg">
                        <h1>Travel</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/2.jpg">
                        <h1>Tech</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/3.jpg">
                        <h1>Lorem Ipsum</h1>
                        <a href="#"><img src="img/play2.png" class="icon-play"></a> </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                    <div>
                      <div class="cat-tit"> <img src="img/4.jpg">
                        <h1>Music</h1>
                      </div>
                      <ul class="listing-div">
                        <li><a href="#"><span>Lorem ipsum sit dolor amit</span></a></li>
                        <li><a href="#">Duis aute irure</a></li>
                        <li><a href="#">Dolor in reprehenderit</a></li>
                        <li><a href="#">In voluptate velit</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- /cbp-hrsub-inner --> 
                </div>
                <!-- /cbp-hrsub --> 
              </li>
              
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
  <!--editorial  section-->
  <div class="editorial_sec">
  <div class="banner_header_div">
  <div class="container">
  <div class="row">
  <div class="content_DIV_BAR text-center">
  <h1> <span>style</span> the best cotton blazer to <br> wear to work this summer</h1>
  
  </div>
  </div>
  </div>
  </div>
  
  
  <div class="welcome-text_bar text-center">
  <div class="container-fluid">
  <h2>Why you'll love it
  <span>Great visionaries from Ralph Waldo Emerson to Thoreau have drawn <br> inspiration from its forest canopy, writing of its enchanted mountain <br> peaks and igniting one's passion to explore the depths of nature- <br>Adirondack Park is a gift to all who discover it.</span></h2>
  
  <img src="img/edi2.jpg">
  <img src="img/edi3.jpg">
  
  </div>
  </div>
  
  
  <div class="missing_sec text-center">
  <div class="container-fluid">
  <h2>Three things you can't miss
  <span>Great visionaries from Ralph Waldo Emerson to Thoreau have drawn <br> inspiration from its forest canopy, writing of its enchanted mountain <br> peaks and igniting one's passion to explore the depths of nature- <br>Adirondack Park is a gift to all who discover it.</span></h2>
  
  <!--slider-->
  <div id="slider1">
		
		<div class="viewport">
			<ul class="overview">
				<li><img src="img/ed-slide1.jpg" />
                <span>
                The Wild Center
							<em>A natural history museum that draws you into the vast beauty of Adirondack Park through interactive exhibits and hands-on learning. Check out the museum's Wild Walk where a trail of bridges takes you into the forest treetop as well as animal exhibits and films that bring a new perspective to nature.</em>
                </span>
                
                </li>
				<li><img src="img/ed-slide2.jpg" /><span>
                The Wild Center
							<em>A natural history museum that draws you into the vast beauty of Adirondack Park through interactive exhibits and hands-on learning. Check out the museum's Wild Walk where a trail of bridges takes you into the forest treetop as well as animal exhibits and films that bring a new perspective to nature.</em>
                </span></li>
				<li><img src="img/ed-slide3.jpg" /><span>
                The Wild Center
							<em>A natural history museum that draws you into the vast beauty of Adirondack Park through interactive exhibits and hands-on learning. Check out the museum's Wild Walk where a trail of bridges takes you into the forest treetop as well as animal exhibits and films that bring a new perspective to nature.</em>
                </span></li>
				
			</ul>
		</div>
        <div class="slider-left-right-arrow">
        <a class="buttons prev" href="#"><img src="img/arrow-left.png"></a>
		<a class="buttons next" href="#"><img src="img/arrow-right.png"></a>
        </div>
	</div>
  
  <!--slider-->
  
  
  </div>
  </div>
  <div class="like-article-div">
  <div class="container">
  <div class=" text-center">
  <img src="img/Logo Copy.png">
  <h1>Like this article?</h1>
  <h4>Sign up for Autolife to Recieve More</h4>
  <div class="video-start-btn"> <a href="soft-registration.html" id="value1">sign up</a></div>
  </div>
  </div>
  </div>
  
  
  <!--weekend section-->
  <div class="weekend-sec">
  <div class="container">
  <div>
  <div class="_Div-combo">
  <h1>Spend a weekend: </h1>
  <h2>Lake George & Glens Falls</h2>
  <h3><span>saturday</span></h3>
  <p>Cruise beautiful Lake George with the iconic Lake George Steamboat Company. Offering <br> hourly scenic cruises around the southern basin, islands and Paradise Bay, it's the best <br> way to experience the lake's natural beauty and still have time for a full day of activities. </br> An Adirondack icon since its establishment in 1817, the historic steamboat also offers <br> special entertainment, moonlight cruises as <br> well as luncheons and dinners on the water. 
  
  
  </p>
  <div class="two-part-divide">
  <p>For a bird's eye view of the lake, <br> check out Parasailing Adventures <br> where you can fly two or three <br> people at a time, </p>
  <img src="img/edi5.png">
  </div>
  <div class="clearfix"></div>
  <p class="overflow">guided by a professional crew for smooth <br> sailing. Explore Lake George Village, lined <br> with restaurants and boutiques; the area's down-to-earth vibe blends with its vibrant <br> downtown to create a charming mountain community. Check out specialty shops like <br> Silvermine, dine by the marina, then walk to Shepard Park or Million Dollar Beach for <br> sandy shores, picnicking and swimming.</p>
  </div>
  
  
  
  <div class="_Div-combo">
  
  <h3><span>sunday</span></h3>
  <p>Davidson BrothersVisit the Hyde Collection, a fine arts museum with range of collections <br>from Renaissance paintings to contemporary photography as well as work by Picasso, van <br> Gogh and Rafael. Set in the Hyde House, a restored 20th century mansion listed on the<br> U.S. National Register of Historic Places, the museum is known for its unique displays and <br> devotion to cultural education.
  
  
  </p>
  <div class="two-part-divide-left">
 
  <img src="img/edi6.png">
  
  <p class="right-img-text">Enjoy lunch, craft beer and a tour at Davidson Brewing Company. Home to the only brick kettle brew system in New York, the brewpub is serving up a variety of in-house ales including their signature IPA and Oatmeal Stout. If you're a shopaholic, head to the Factory Outlets of Lake George, just ten minutes from downtown Glens Falls, for top brands at a price that won't break your wallet.</p>
  
  </div>
  <div class="clearfix"></div>
  <p>Enjoy lunch, craft beer and a tour at Davidson  Brewing Company. Home to the only brick <br>kettle brew system in New York, the brewpub is serving up a variety of in-house ales <br> including their signature IPA and Oatmeal Stout. If you're a shopaholic, head to the <br>Factory Outlets of Lake George, just ten minutes from downtown<br> Glens Falls, for top brands at a price that won't  break your wallet.</p>
  </div>
  
  
  </div>
  </div>
  </div>
  <!--weekend section-->
  <div class="like-article-div" id="no-background">
  <div class="container">
  <div class="text-center">
  <img src="img/Logo Copy.png">
  <h1>Like this article?</h1>
  <h4>Sign up for Autolife to Recieve More</h4>
  <div class="video-start-btn"> <a href="soft-registration.html" id="value1">sign up</a></div>
  </div>
  </div>
  </div>
  
  </div>
    <!--editorial  section-->
  
  <!--summary section-->
  <footer class="footer" id="foo_ter">
    <div class="container">
      <div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="#"> ipsum sit dolor amit </a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="#"> ipsum sit dolor amit </a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="#"> ipsum sit dolor amit </a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="#"> ipsum sit dolor amit </a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="right-column">
          <h1>Get a monthly news digest</h1>
          <div class="div_combine">
            <div class="text-fild">
              <input placeholder="Enter your email" type="text">
            </div>
            <input value="sign up" type="submit">
          </div>
          
          <!--social media-->
          <div class="social-sec_div">
            <h1>Stay Connected to Autolife</h1>
            <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"> <i class="fa fa-instagram"></i></a> <a href="#"> <i class="fa fa-youtube"></i></a> </div>
        </div>
      </div>
    </div>
    <div class="bottm-bar" >
      <section class="container-fluid">
        <div> <em>&copy; AutoLife2017/2018, All Rights Reserved</em>
          <ul>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Disclaimer</a></li>
          </ul>
        </div>
      </section>
    </div>
  </footer>
</div>

<!-----------------------------------------------------page7 end----------------------------------------------------------> 





<script src="js/cbpHorizontalMenu.min.js"></script> 

<script>
			$(function() {
				cbpHorizontalMenu.init();
			});
		</script>
        <script>
$( ".fa-search" ).click(function() {
  $( ".search-bar" ).toggleClass( "search-act" );
});
</script>
<script>$.noConflict();</script>
<script src="js/jquery.min.1.6.2.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
		<!-- the jScrollPane script -->
		
	
    <script src="js/jquery.tinycarousel.js"></script>
	<script type="text/javascript">
		$(document).ready(function()
		{
			$('#slider1').tinycarousel();
		});
	</script>	
		
</body>
</html>
