<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>::AUTO-LIFE::</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
<!-- fontawesome CSS -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<!-- Custom CSS -->

<link rel="stylesheet" type="text/css" href="css/custom.css" />

<link rel="stylesheet" type="text/css" href="css/desk.css"/>
<link rel="stylesheet" type="text/css" href="css/rangeslider-soft-register.css" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
<script src="js/jquery-min.js"></script>

<!--custom js-->

<!--custom js-->


</head>

<body>



<!-----------------------------------------------------page7 start---------------------------------------------------------->

<div id="page7">
  <div class="desktop_header">
    <section class="container-fluid">
      <div> 
        <!--left-->
        <div class="div-hide-show"> <a href="summary-page.html" a class="logo logo_pulse"><img src="img/web-logo.png"></a>
          <div class="clickhide">
            <div class="head-left">
              <figure>
                <figcaption style="position:relative; margin-top:15px;">The more we get to know each other the more exciting your AutoLife </figcaption>
              </figure>
              
            </div>
            <!--left--> 
            
            <!--right-->
            <!--<div class="right-link"> <em><i class="fa fa-plus-circle" aria-hidden="true"></i>How are we doing? <a href="#">Tell us.</a></em> 
              
             
            <div class="div_search"> <i class="fa fa-search"></i>
              <div class="search-bar">
                <input type="text" value="">
              </div>
            </div>
            
            </div>-->
            <!--right--> 
          </div>
          
        </div>
      </div>
    </section>
  </div>
  <div class="relative">
    <div class="value-labe11">
    
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-12">
    <!--progress bar-->
    <div class="hide-show">
					<div class="start">Start</div>
                    
                    <div class="dotted-point">
                    <div id="dot_after"></div>
                    <div class="progress">
                    
						<div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                       
					</div>
                    </div>
                    
					
                    <div class="finish">Finish</div>
					</div>
                    
                  
                    <div class="container">
                 
                          <!--step5-->
              <div class="for_sign_up">
              <div id="soft-regis-login" class="text-center">
              
              <h1>sign up  for auto life</h1>
              <p>You're 2 clicks away from joining millions from Canadian Drivers like you.</p>
               <a href="javascript:void(0);" class="facebook-button"><i class="fa fa-facebook"></i></a> 
          
          <!--facebook--> 
          
          <!--g-plus--> 
          <a href="javascript:void(0);" class="facebook-button"><i class="fa fa-google-plus"></i></a> 
          <!--g-plus--> 
          
          <!--email--> 
          <a href="javascript:void(0);" class="facebook-button by-email pulse-button_1" id="gotostep6"><em>Registered by email</em></a> 
          <!--email--> 
              </div>
              
               </div>
               <!--step5-->
               
                    
                     
                    
                    
                  <!--step6-->
              
              <div id="soft-regis-form-fill" class="text-center">
              <h1>sign up  for auto life</h1>
              <p>You're 2 clicks away from joining millions from Canadian Drivers like you.</p>
              <div class="email_register_signup_form">  
        <form id="email-register-home" data-toggle="validator" role="form" action="#">	
							<div class="radio-field">         
								<div class="radius-div">
									<div class="form-group has-feedback">
										<div class="input-field radius-div input-box">
											<input id="icon_prefix" type="text" value="" required class="validate form-control"/>
											<label for="icon_prefix">First Name</label>
											<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
											<div class="help-block with-errors"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="radio-field" id="step9">
								<div class="radius-div">
									<div class="form-group has-feedback">
										<div class="input-field radius-div input-box">
											<input id="last_name" type="text" value="" required class="validate form-control"/>
											<label for="last_name">Last Name</label>
											<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
											<div class="help-block with-errors"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="radio-field" id="step9">
								<div class="radius-div">
									<div class="form-group has-feedback">
										<div class="input-field radius-div input-box">
											<input id="email" type="email" value="" required class="validate form-control"/>
											<label for="email">Email</label>
											<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
											<div class="help-block with-errors"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="radio-field" id="step9">
								<div class="radius-div">
									<div class="form-group has-feedback">
										<div class="input-field radius-div input-box">
											<input id="icon_telephone" type="password" value=""  class="form-control"/>
											<label for="icon_telephone">Password</label>
											<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
											<div class="help-block with-errors"></div>
										</div>
									</div>
								</div>
							</div>
                            
                            <div class="radio-field" id="step9">
								<div class="radius-div">
									<div class="form-group has-feedback">
										<div class="input-field radius-div input-box">
											<input id="icon_telephone" type="password" value=""  class="form-control"/>
											<label for="icon_telephone">Confirm Password</label>
											<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
											<div class="help-block with-errors"></div>
										</div>
									</div>
								</div>
							</div>
					
							<div class="radio-field" id="step9">
								<div class="radius-div">
									<div class="form-group has-feedback">
										<div class="input-field radius-div input-box">
											<input id="icon_telephone" type="tel" value=""  class="form-control"/>
											<label for="icon_telephone">Mobile (optional)</label>
											<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
											<div class="help-block with-errors"></div>
										</div>
									</div>
								</div>
							</div>
                            
                            <div class="small-conti-btn pulse-button_1"><a href="loading-screen.html">continue</a></div>
						</form>
                        </div>
              </div>
              
               
               <!--step6-->
                    
                    
                    </div>
                    
    </div>
    </div>
    </div>
    
    </div>
  </div>
  
  <!------------------------------------------step1 start---------------------------->
  
  <!-----------------------------------step2 end-------------------------------->
  <footer class="footer" id="foo_ter">
    <div class="container">
      <div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="javascript:void(0);"> ipsum sit dolor amit </a></li>
            <li><a href="javascript:void(0);">Duis aute irure</a></li>
            <li><a href="javascript:void(0);">Duis aute irure</a></li>
            <li><a href="javascript:void(0);">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="javascript:void(0);"> ipsum sit dolor amit </a></li>
            <li><a href="javascript:void(0);">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
            <li><a href="#">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="javascript:void(0);"> ipsum sit dolor amit </a></li>
            <li><a href="javascript:void(0);">Duis aute irure</a></li>
            <li><a href="javascript:void(0);">Duis aute irure</a></li>
            <li><a href="javascript:void(0);">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="one-column">
          <h1>category1</h1>
          <ul>
            <li><a href="javascript:void(0);"> ipsum sit dolor amit </a></li>
            <li><a href="javascript:void(0);">Duis aute irure</a></li>
            <li><a href="javascript:void(0);">Duis aute irure</a></li>
            <li><a href="javascript:void(0);">Duis aute irure</a></li>
          </ul>
        </div>
        <div class="right-column">
          <h1>Get a monthly news digest</h1>
          <div class="div_combine">
            <div class="text-fild">
              <input placeholder="Enter your email" type="text">
            </div>
            <input value="sign up" type="submit">
          </div>
          
          <!--social media-->
          <div class="social-sec_div">
            <h1>Stay Connected to Autolife</h1>
            <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"> <i class="fa fa-instagram"></i></a> <a href="#"> <i class="fa fa-youtube"></i></a> </div>
        </div>
      </div>
    </div>
    <div class="bottm-bar" >
      <section class="container-fluid">
        <div> <em>&copy; AutoLife2017/2018, All Rights Reserved</em>
          <ul>
            <li><a href="javascript:void(0);">Privacy</a></li>
            <li><a href="javascript:void(0);">Terms of Use</a></li>
            <li><a href="javascript:void(0);">Accessibility</a></li>
            <li><a href="javascript:void(0);">Disclaimer</a></li>
          </ul>
        </div>
      </section>
    </div>
  </footer>
</div>

<!-----------------------------------------------------page7 end----------------------------------------------------------> 




<!--
        <script>
$( ".fa-search" ).click(function() {
  $( ".search-bar" ).toggleClass( "search-act" );
});
</script>-->
<script src="js/custom.js"></script>
<script src="js/rangeslider.js"></script>
<script src="js/materialize.js"></script>

</body>
</html>
